@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400&display=swap');

body {
  font-family: 'Londrina Solid', cursive;
}

.home-background {
  position: relative;
  background-image: url('https://img1.wsimg.com/isteam/stock/6QmDeDe');
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.nav-link {
  color: #fff !important;
    
}

.nav-link.active {
  background: #45c2d6b0;
  color: #fff !important;
  
}

/* Contenedor para los elementos que van a ir en  la portada */

/* banner home */

.banner-home {
  position: absolute;
  right: 25px;
  top: 35vh;
  width: 300px;
  padding: 10px;
  background: #45c2d6b0;
}

/* PEDIDOS */

h2 {
  position:relative;
  
  height: 49px;
  
  font-family: Londrina Solid;
  font-style: normal;
  font-weight: 900;
  font-size: 41px;
  line-height: 49px;
  /* identical to box height */
  
  text-align:center;
  color: #4BB072;
}

/*ul{
  position: relative;
  width: 950px;
  height: 50px;

  font-family: Londrina Solid;
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #4BB072;
}*/

.segundoboton{
  position:relative;
  color:white;
  width: 193px;
  height: 45px;
  background: #60B882;
  border-radius: 15px;
}

.textos{
  position: relative;
  height: 50px;

  font-family: Londrina Solid;
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #4BB072;
}

