@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400&display=swap');

body {
  font-family: 'Londrina Solid', cursive;
}

.home-background {
  position: relative;
  background-image: url('https://img1.wsimg.com/isteam/stock/6QmDeDe');
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.menu-container{
  padding: 40px;
  position: relative;
  background-image: url('fondo.jpeg');
  min-height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  
}

.nav-link {
  color: #fff !important;
    
}

.nav-link.active {
  background: #45c2d6b0;
  color: #fff !important;
  
}

/* Contenedor para los elementos que van a ir en  la portada */

/* banner home */

.banner-home {
  position: absolute;
  right: 25px;
  top: 35vh;
  width: 300px;
  padding: 10px;
  background: #45c2d6b0;
}

.banner-menu {
  position: absolute;
  right: 25px;
  top: 35vh;
  width: 300px;
  padding: 10px;
  background: #45c2d6b0;
}

/* PEDIDOS */

.pedidos-container {
  padding: 15vh 0;
}

h2 {
  position:relative;
  height: 49px;
  font-family: Londrina Solid;
  font-style: normal;
  font-weight: 900;
  font-size: 41px;
  line-height: 49px;
 /* identical to box height */
  text-align:center;
  color: #4BB072;
  padding-bottom: 45px;
  padding-top: 45px;
  
}

/* Carta */

.carta-container {
  padding: 15vh 0;
}

/*ul{
  position: relative;
  width: 950px;
  height: 50px;

  font-family: Londrina Solid;
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #4BB072;
}*/

.segundoboton{
  position:relative;
  color:#757571;
  width: 193px;
  height: 45px;
  background: #60B882;
  border-radius: 15px;
}

.tercerboton{
  color:#757571;
  margin: 20px;
}

.cuartoboton{
  color: white;
  position: absolute;
width: 130px;
height: 40px;
background-color: #D6664D;

}


.textos{
  position: relative;
  height: 50px;

  font-family: Londrina Solid;
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #4BB072;
}

.textos2{
  position: relative;
  height: 50px;

  font-family: Londrina Solid;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 25px;
  text-align: center;
  color: #D6664D;
  ;
}

.textos3{
  position: relative;
  height: 50px;

  font-family: Londrina Solid;
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  line-height: 25px;
  text-align: center;



  color:#A4A4A4;
}


.a{
  position: relative;
  height: 50px;
  padding: 10px;
  margin: 15px;
  font-family: Londrina Solid;
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color:white;
  background:  #4BB072;
}

.promociones{
  background: green;
  padding: 20px;
}

.promo{
  background: white;
  color: black;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.precio{
  color:green;
}