@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Shippori Mincho B1', serif;
  font-size: 15px;
}

/* Estilos del menu */

nav {
  background: #6b4a2f;
  overflow: hidden;
}

.logo {
  width: 360px;
  margin: 25px auto;
  text-align: center;
  color: #6b4a2f;
}

.navigation {
  text-align: center;
}

.navigation li {
  display: inline;
  margin: 0 10px;
}

.navigation li a {
  color: #fff;
  font-size: 15px;
}


/* Estilos de los platos */

.menu ul {
  text-align: center;
}

.menu ul li {
  display: inline;
  margin: 15px;
}

/* Contenido */

.contenido {
  max-width: 920px;
  margin: 0 auto;
}

.nosotros p {
  float: left;
  width: 100%;
  max-width: 520px;
}

.nosotros img {
  float: right;
}