@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Shippori Mincho B1', serif;
  font-size: 15px;
}

header.fondo-rincon {
  position: relative;
  background-color: #343a40;
  background: url(images/fondo.jpeg) no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

/* Estilos del menu */

nav {
  background: #6b4a2f;
  overflow: hidden;
}

.logo {
  width: 360px;
  margin: 25px auto;
  text-align: center;
  color: #6b4a2f;
}

.navigation {
  text-align: center;
  cursor:pointer;
}

.navigation li {
  display: inline;
  margin: 0 10px;
}

.navigation li a {
  color: #fff;
  font-size: 15px;
}


/* Estilos de los platos */

.listapromo {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

.listapromo ul {
  list-style: none;
}

.listapromo li {
  clear: both;
  margin-bottom: 25px;
  overflow: hidden;
}

.col-imagen {
  float: left;
  width: 75px;
  margin-right: 10px;
}

.col-imagen img {
  width: 100%;
}

.col-izquierda {
  float: left;
}

.tipo-menu{
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
}

.col-derecha{
  float: right;
}

.carrito-pedidos {
  position: absolute;
  width: 320px;
  height: 100vh;
  right: -320px;
  bottom: 0;
  color: #fff;
  background: #6c4a2fb8;
  transition: right .25s ease-in-out;
}

.carrito-pedidos .close {
  color: #fff;
  font-size: 16px;
}

.carrito-pedidos.active {  
  right: 0;
}

.menu ul {
  text-align: center;
}

.menu ul li {
  color: red;
  font-size: 18px;
  display: inline-block;
  margin: 15px;
}

/* Contenido */

.contenido {
  max-width: 920px;
  margin: 0 auto;
}

.nosotros p {
  float: left;
  width: 100%;
  max-width: 520px;
}

.nosotros img {
  float: right;
}

.container-nosotros{
  width: 100%;
  max-width: 9 20px;
}